<html>
<head>
<title>Add Course</title>
    <link href="a.css" rel="stylesheet"/>
</head>
<body>
    <h1>adding course</h1>
        <ul>
            <li><br>name:<input type="text" name="database" > </li>
            <li><br>code:<input type="text" name="database"> </li>
            <li><br>classroom:<input type="text " name="database"> </li>
        </ul>
{% if form.errors %}
    <p style="color: red;">
     Please correct the error{{ form.errors|pluralize }} below.
    </p>
    {% endif %}
    <form action="" method="post">
    {% csrf_token %}
        <table>
        {{ form.as_table }}
     <thead>
        <tr>
            <th></th>
            <th>coursecode</th>

        </tr>
        </thead>
        <tr>
            <td></td>
            <td></td>

        </tr>
        <tr>
            <td></td>
            <td></td>

        </tr>
    </table>

<input type="submit" value="Submit">
</form>
</body>
</html>