<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all_Teachers</title>
    <link href="b.css" rel="stylesheet"/>
</head>
<body>
Teacher List:
{% for k in t %}
<ul>{{ k }}</ul>
    <ul>{{ k }}</ul>
        <table>
        {{ form.as_table }}
           <thead>
        <tr>
            <th>name</th>
            <th>lastname</th>

        </tr>
        </thead>
        <tr>
            <td>{{x}}</td>
            <td>{{x}}</td>

        </tr>
        <tr>
            <td>{{x}}</td>
            <td>{{x}}</td>

        </tr>
        <tr>
            <td>{{x}}</td>
            <td>{{x}}</td>

        </tr>
{% endfor %}
</body>
</html>